<div id='top'></div>
<div id="navbar">

</div>

<div id="main">

</div>

<!-- Implement hover back to top button/link -->
<div class="top-scroll hidden">
  <div class="back-to-top">
    <a class='button' href="#top">Back to Top</a>
  </div>
</div>



<script>
  var target = $("#navbar").offset().top;
  var interval = setInterval(function() {
    if ($(window).scrollTop() > target) {
      $('.top-scroll').removeClass('hidden');
    } else {
      $('.top-scroll').addClass('hidden');
    }
  }, 250);
</script>
