<title>Login</title>

<div class="row centered-form vertical-align">

    <form action="/session" method="post" class='signin-form' data-abide>
      <div class="text-center">
        <h1>Log In</h1>
      </div>

      <input type="hidden" name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <div class="row">
        <div class="small-8 small-centered columns">
          <label><small>required</small>
            <input type="text" id='email' name="user[email]"
              class="text-center" placeholder="Email" required />
          </label>
            <small class="error">Please enter your email.</small>
        </div>
      </div>

      <div class="row">
        <div class="small-8 small-centered columns">
            <label><small>required</small></label>
              <input type="password" id='password' name="user[password]"
                class="text-center" placeholder="Password" required />
            </label>
              <small class="error">Please enter your password.</small>
        </div>
      </div>

      <div class="row">
        <div class="small-6 small-centered text-center columns">
          <input type='submit' id='signin-button' class="button" value='Login'>
          <a aria-label="submit form" href="<%= new_user_path %>" class="button">New User</a>
          <input type='button' class="button guest-button" value="Guest">
        </div>
      </div>

    </form>
</div>

<script>
  $(Guest.initialize())
</script>
