<input type="hidden" name="answer[question_id]" value="<%= question.escape('id') %>">

<div class="row">
  <div class="large-12 columns">
    <textarea placeholder="" name='answer[body]'></textarea>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <input type='submit' class="button small success" value='Post Answer'>
  </div>
</div>
