<div class="small-1 columns">
  <div class="answer-vote"></div>
</div>
<div class="answer-comment small-11 small-offset-1 columns">
  <p class=body><%= answer.escape('body') %></p>
  <a class='delete-comment'>Delete</a>

  <div class="answer-comments"></div>

  <a class='show-answer-comment-form'>Add a comment</a>
  <div class="new-answer-comment hide"></div>
</div>
<hr>
