<div class="row">
  <div class="small-1 columns">
    <div class="answer-vote"></div>
  </div>
  <div class="answer-item small-11 columns">
    <p class=body><%= marked(answer.get('body')) %></p>

    <div class="row">
      <div class="small-8 columns">
        <% if (answer.get('owned')) { %>
          <a class='delete-link'>Delete</a>
          <a class='edit-link'>Edit</a>
        <% } %>
      </div>
    </div>


    <div class="answer-comments"></div>

    <a class='show-answer-comment-form'>Add a comment</a>
    <div class="new-answer-comment hide"></div>
  <hr>
  </div>
</div>
