<div class="row">

<div class='upvote-button'></div>

<div class="row">
  <div class="vote-count text-center"><h3><%= model.get('score') %></h3></div>
</div>

<div class="row">
  <div class='downvote-button'></div>
</div>
