<div class="row user-info">

  <div class="small-4 columns">
    <a class="th">
      <img src="http://placehold.it/100x100">
    </a>
  </div>

  <div class="small-8 columns">
    <div class="row">
      <h5><%= user.escape('email') %></h5>
    </div>
    <div class="row">
      <h5>Points: <%= user.escape('points') %></h5>
    </div>
  </div>
</div>
<hr>
<div class="row user-badges">
  <ul class='' style='list-style-type: none; text-align: center'>
    <li style='display: inline-block'><img src="http://placehold.it/50x50"></li>
    <li style='display: inline-block'><img src="http://placehold.it/50x50"></li>
    <li style='display: inline-block'><img src="http://placehold.it/50x50"></li>
    <li style='display: inline-block'><img src="http://placehold.it/50x50"></li>
  </ul>
</div>
