<!-- add padding top -->
<hr>
<div class="small-4 columns user-search-box">
  <input type="text" name="name" class='user-search' placeholder="Search Users">
</div>
<hr>
<ul class="small-block-grid-3 user-index-items"></ul>
