<div class="row user-info">

  <div class="small-4 columns">
    <a class="th">
      <img src="http://placehold.it/100x100">
    </a>
  </div>

  <div class="small-8 columns">
    <div class="row">
      <h5><%= user.escape('username') %></h5>
    </div>
    <div class="row">
      <h5>Points: <%= user.escape('points') %></h5>
    </div>
  </div>
</div>
<hr>
<div class="row user-badges">
  <ul class='inline-list'>
    <li><img src="http://placehold.it/45x45"></li>
    <li><img src="http://placehold.it/45x45"></li>
    <li><img src="http://placehold.it/45x45"></li>
    <li><img src="http://placehold.it/45x45"></li>
    <li><img src="http://placehold.it/45x45"></li>
  </ul>
</div>
