
<% if (question) { %>
  <input type="hidden" name="question_id" value="<%= question.escape('id') %>">
<% } else { %>
  <input type="hidden" name="answer_id" value="<%= answer.escape('id') %>">
<% } %>

<div class="row">
  <div class="large-12 columns">
    <textarea placeholder="" name='comment[body]'></textarea>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <input type='submit' class="button tiny success" value='Post Comment'>
  </div>
</div>
