<p class='body'>

  <%= comment.escape('body') %> -

  <a href="#users/<%= comment.escape('commenter_id') %>" class='commenter-name'>
    <%= comment.escape('commenter') %>
  </a>

</p>
<hr class='break'>
