<title>New User</title>
<div class="row text-center">
  <h1>Sign Up</h1>
</div>

<div class="row centered-form">
    <form action="/users" method="post" data-abide>

      <input type="hidden" name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <div class="row">
        <div class="small-6 large-centered columns">
            <label><small>required</small>
              <input type="email" name="user[email]"
                class="text-center" placeholder="Email" required />
            </label>
            <small class="error">An email address is required.</small>
        </div>
      </div>

      <div class="row">
        <div class="small-6 large-centered columns">
          <label><small>required</small>
            <input type="password" name="user[password]"
              class="text-center" placeholder="Password" required />
          </label>
          <small class="error">A password is required.</small>
        </div>
      </div>

      <div class="row">
        <div class="small-6 small-centered text-center columns">
          <a type='submit' aria-label="submit form" class="button">Create my account</a>
          <a aria-label="submit form" href="<%= new_session_path %>" class="button">I already have an account</a>
        </div>
      </div>
    </form>
</div>
