<title>New User</title>
<div class="row text-center">
  <h1>Sign Up</h1>
</div>

<div class="row centered-form">
    <form action="/users" method="post">

      <input type="hidden" name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <div class="row">
        <div class="small-6 large-centered columns">
            <input type="text" name="user[email]"
              class="text-center" placeholder="Email" />
            <!-- <small class="error"></small> -->

        </div>
      </div>

      <div class="row">
        <div class="small-6 large-centered columns">
            <input type="password" name="user[password]"
              class="text-center" placeholder="Password" />
        </div>
      </div>

      <div class="row">
        <div class="small-6 small-centered text-center columns">
          <a type='submit' aria-label="submit form" class="button">Create my account</a>
          <a aria-label="submit form" href="<%= new_session_path %>" class="button">I already have an account</a>
        </div>
      </div>
    </form>
</div>
