<title>New User</title>

<div class="row centered-form vertical-align">
  <div class="vertical-align">
    <form action="/users" method="post" class='signup-form' data-abide>
      <div class="row text-center">
        <h1>Register</h1>
      </div>
      <input type="hidden" name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <div class="row">
        <div class="small-8 small-centered columns">
            <label><small>required</small>
              <input type="text" name="user[username]"
                class="text-center" placeholder="Username" required />
            </label>
            <small class="error">A username is required.</small>
        </div>
      </div>

      <div class="row">
        <div class="small-8 small-centered columns">
            <label><small>required</small>
              <input type="email" name="user[email]"
                class="text-center" placeholder="Email" required />
            </label>
            <small class="error">An email is required.</small>
        </div>
      </div>

      <div class="row">
        <div class="small-8 small-centered columns">
          <label><small>required</small>
            <input type="password" name="user[password]"
              class="text-center" placeholder="Password" required />
          </label>
          <small class="error">A password is required.</small>
        </div>
      </div>

      <div class="row">
        <div class="small-8 small-centered text-center columns">
          <input type='submit' aria-label="submit form" class="button" value='Create my account'>
          <a aria-label="submit form" href="<%= new_session_path %>" class="button">I already have an account</a>
        </div>
      </div>
    </form>
  </div>
</div>
