<a class="close-reveal-modal" aria-label="Close">&#215;</a>

<div class="row about-logo">
  <div class="small-10 columns small-offset-1 text-center">
    <img src="http://res.cloudinary.com/charliecloud/image/upload/v1434835646/logo_5_rzu0wm.png"/>
  </div>
</div>

<div class="row about-description">
  <div class="small-10 small-offset-1 columns text-center">
    <h1>queryBase</h1>
    <p>
      A Q&amp;A site made for students, aspiring developers and professionals to
      discuss anything computer programming related. Ask questions, get answers and earn points.
    </p>
  </div>
</div>

<div class="row about-get-started">
  <div class="small-10 small-offset-1 columns text-center">
    <button class="button success" name="button">Take the Tour</button>
  </div>
</div>
