<div class="row">
  <div class="small-6 small-offset-3 columns">
    <h3>Your search returned no results...</h3>
    <p>but you got a kitten</p>
    <img src="http://placekitten.com/g/400/400"/>
  </div>
</div>
