
  <nav class='top-bar'>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">queryBase</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li><a href="session/new" class='sign-out'>Sign Out</a></li>
      </ul>
    </section>
  </nav>

  <section class="row text-center menu-links">
    <div class="small-12 small-centered columns">
      <ul class="button-group subnav">
        <li><a href="#" class='button small'>Questions</a></li>
        <li><a href="#tags" class='button small'>Tags</a></li>
        <li><a href="#users" class='button small'>Users</a></li>
        <li><a href="#badges" class='button small'>Badges</a></li>
        <li><a href="#unanswered" class='button small'>Unanswered</a></li>
        <li><a href="#questions" class='button small' data-reveal-id='reveal-question-form'>Ask a Question</a></li>
      </ul>
    </div>
  </section>

  <div id="reveal-question-form" class="reveal-modal" data-reveal aria-labelledby="reveal-question-form" aria-hidden="true" role="dialog">
  </div>
