
  <nav class='top-bar'>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">queryBase</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li><a href="#">Sign Out</a></li>
      </ul>
    </section>
  </nav>

  <section class="row text-center menu-links">
    <div class="small-12 small-centered columns">
      <ul class="button-group">
        <li><a href="#" class='button'>Questions</a></li>
        <li><a href="#" class='button'>Tags</a></li>
        <li><a href="#" class='button'>Users</a></li>
        <li><a href="#" class='button'>Badges</a></li>
        <li><a href="#" class='button'>Unanswered</a></li>
        <li><a href="#" class='button'>Ask a Question</a></li>
      </ul>
    </div>
  </section>
