<form data-abide>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>

  <!-- <h3>Post your question</h3> -->
  <hr>
  <!-- title -->
  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-1 columns">
        <label class='space'><small>.</small></label>
        <label for="right-label" class="left inline">Title: </label>
        </div>
          <div class="small-11 columns left">
            <label><small>required</small></label>
            <input type="text" name='question[title]' id="right-label" placeholder="Eg. What is a closure?" required>
            <small class="error">Did you forget to ask a question?</small>
          </div>
      </div>
    </div>
  </div>

  <!-- body  -->
  <div class="row">
    <div class="small-12 columns">
      <label>Description:
        <textarea placeholder='' name='question[description]'></textarea>
      </label>
    </div>
  </div>

  <!-- tags -->
  <div class="row">
    <div class="small-12 columns">
      <label>Tags:
        <input type="text" name='question[tag_list]' placeholder="Eg. Javascript, Backbone.js" />
      </label>
    </div>
  </div>

  <!-- submit button -->
  <div class="row">
    <div class="small-3 columns left submit-buttons">
      <input type='submit' class='button success' value='Post Question'>
    </div>
    <div class="small-3 columns left submit-buttons">
      <input type='submit' class='button cancel' value='Cancel'>
    </div>
  </div>

  <hr>
</form>
