<form>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>

  <h3>Post your question</h3>
  <hr>
  <!-- title -->
  <div class="row">
    <div class="small-10 columns">
      <div class="row">
        <div class="small-1 columns">
          <label for="right-label" class="left inline">Title: </label>
        </div>
        <div class="small-11 columns left">
          <input type="text" name='question[title]' id="right-label" placeholder="Eg. What is a closure?">
        </div>
      </div>
    </div>
  </div>

  <!-- body  -->
  <div class="row">
    <div class="small-10 columns">
      <label>Description:
        <textarea placeholder='' name='question[description]'></textarea>
      </label>
    </div>
  </div>

  <!-- tags -->
  <div class="row">
    <div class="small-10 columns">
      <label>Tags:
        <input type="text" name='question[tags]' placeholder="Eg. Javascript, Backbone.js" />
      </label>
    </div>
  </div>

  <!-- submit button -->
  <div class="row">
    <div class="small-10 columns">
      <input type='submit' class='button success' value='Post Question'>
    </div>
  </div>

  <hr>
</form>
