<div class="row">

  <div class="small-1 columns">
    <div class="question-vote"></div>
  </div>

  <div class="small-11 columns">
    <div class="question-details">
      <h4>
        <%= question.escape('title') %></h4>
      <hr>

      <div class="description">
        <p><%= question.escape('description') %></p>
      </div>

      <div class="tags">
        <p>Tags subview here</p>
      </div>

      <label>Comments:
        <div class="question-comments"></div>
      </label>

      <a class='show-comment-form'>Add a comment</a>
      <div class="question-comment-form hide"></div>

      <% var numQuestions = question.answers().length %>
      <h5><%= numQuestions %> <%= pluralize('Answer', numQuestions) %></h5>

      <div class="answers"></div>

      <h5>Your Answer</h5>
      <div class="answer-form"></div>
    </div>
  </div>

</div>
