<h1><%= question.escape('title') %></h1>
<hr>

<div class="description">
</div>

<div class="tags">
</div>

<div class="question-comments">
</div>

<h2><%= pluralize(question.answers().length, 'Answer' %></h2>

<div class="answers">
</div>
