<div class="row">

  <div class="small-1 columns">
    <div class="question-vote">
      <p>"Voting subview"</p>
    </div>
  </div>

  <div class="small-11 columns">
    <div class="question-details">
      <h4>
        <%= question.escape('title') %></h4>
      <hr>

      <div class="description">
        <p><%= question.escape('description') %></p>
      </div>

      <div class="tags">
        <p>Tags subview here</p>
      </div>

      <label>Comments:
        <div class="question-comments">
          <% question.comments().each(function (comment) { %>
            <p class='question-comment'> <%= comment.escape('body') %> </p>
          <% }) %>
        </div>
      </label>

      <!-- Add a comment pop up link -->
      <a class='show-comment-form'>Add a comment</a>
      <div class="question-comment-form hide"></div>

      <!-- use pluralize or find a js inflector -->
      <h5><%= question.answers().length %> Answer(s)</h5>

      <div class="answers"></div>

      <h5>Your Answer</h5>
      <div class="answer-form"></div>
    </div>
  </div>

</div>
