/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*/

@import "foundation_and_overrides";
@import "users";
@import "badges";
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);

* {
    font-family: Lora;
}

body {
  background-color: #ecf0f1;
  background: url("main.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main {
  background: transparentize(#ecf0f1, .15);
  width: 90%;
  min-height: 475px;
  margin: 0 auto;
}

// Logins & Signups

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered-form {
  height: 100%;
}

.name {
  h1 {
    a {
      transition: color 0.5s ease 0s;
      &:hover {
        color: #19B5FE;
      }
    }
  }
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #22313F;
  transition: all 0.5s ease 0s;
  &:hover {
    background-color: darken(#22313F, 20%);
  }
}

.signin-form, .signup-form {
  background: transparentize(#ecf0f1, .15);
  width: 78%;
  margin: 0 auto;
  border-radius: 2px;
  min-height: 60%;

  h1 {
    font-family: 'Lora', serif;
    padding-top: 15px;
    color: #008CBA;
  }

  .button {
    background-color: #008CBA;

    &:hover {
      background-color: lighten(#008CBA, 15%);
    }
  }
}

// Navbar

.menu-links {
  margin-top: 25px;

  .button-group > li > button, .button-group > li .button {
    border-left: 0px;
    background-color: #6BB9F0;
    margin: 3px;

    .selected {
      background: #2c3e50;
    }
    &:hover {
      background: darken(#6BB9F0, 20%);
      transition: all 0.5s ease 0s;
    }
  }
}

.top-bar {
  background-color: #22313F;
}

.subnav {
  text-align: right;

  .button {
    padding: 8px;
  }
}

#navbar {
  margin-bottom: 15px;
}

// New Question Form Modal

#reveal-question-form {
  background-color: #ecf0f1;
  max-width: 65%;
  border: none;
  h3 {
    font-family: Lora;
  }

  .space {
    visibility: hidden;
  }

  .preview {
    font-family: Lora;
    color: #BFBFBF;
  }

  .submit-buttons {
    .success {
      background-color: #2ECC71;
      &:hover {
        background-color: darken(#2ECC71, 20%);
        transition: all 0.5s ease 0s;
      }
    }
  }

}
// Question Index Items
.questions-index {
  // overflow-y: auto;
  // height: 450px;
}

.question-index-item {
  hr {
    margin: 10px auto;
    width: 80%;
  }

  .timestamp, .user-info {
    font-size: 0.813em;
  }

  .timestamp {
    color: darken(#bdc3c7, 15%);
  }

  .question-title {
    font-size: 1em;
    padding: 5px 5px 3px 5px;
    margin-bottom: 0px;
    color: #6BB9F0;

    display: inline-block;
    position: relative;

    &:after {
      content: '';
      display: block;
      margin: auto;
      height: 2px;
      width: 0px;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
    }
  }
}

.question-index-item:hover {
  .question-title {
    &:after {
      width: 100%;
      color: darken(#6BB9F0, 20%);
      background: darken(#6BB9F0, 0);
    }
  }
}

.counter-text, .index-counter {
  font-size: 0.75em;
  text-align: center;
  color: darken(#bdc3c7, 15%);
  padding-top: 3px;
}

.question-attr, .answer-count {
  padding: 6px;
}

.index-counter, .answer-counter {
  margin-bottom: 5px;
}

.answer-counter {
  color: #c0392b;
}

.answer-text, .answer-counter {
  padding-top: 3px;
  font-size: 0.750em;
  text-align: center;
}

.has-answer {
  background: #2ECC71;
  color: white;
  transition: background .5s ease 0s;

  &:hover {
    background: darken(#2ECC71, 15%);
  }

  h6, p {
    color: white;
  }

}

.tag, .tag-index-item, .tag-header {
  background-color: #6BB9F0;
  color: #ecf0f1;
  font-size: 0.813em;
  padding: 3px;
  transition: all 0.5s ease 0s;

  &:hover {
    background-color: darken(#6BB9F0, 20%);
    color: #ecf0f1;
  }
}

.matched-tag {
  background-color: #f1c40f;
  &:hover {
    background-color: darken(#f1c40f, 10%);
  }
}

.tags-index {
  h1 {
    font-family: Lora;
    color: lighten(#22313F, 15%);
  }

  div {
    padding: 10px;
  }

  .tag-index-item {
    font-size: 1em;
    margin-bottom: 15px;
  }
}

.tag-show {

  .tag-header {
    font-size: 1em;
    background-color: #f1c40f;

    &:hover {
      background-color: darken(#f1c40f, 10%);
    }
  }

  .row {
    padding: 10px;
  }

  h2 {
    font-family: Lora;
    color: lighten(#22313F, 15%);
  }
}

// Forms
.hide {
  display: none;
}

// Question Show

.show-question {

  padding-top: 25px;

  h4, h5 {
    font-family: Lora;
  }

  hr {
    margin: 5px 0px;
  }

  .description {
    p {
      margin-bottom: 5px;
    }
  }

  .asker-info {

    margin-bottom: 5px;
    .asker-image {
      border-radius: 50%;
      transition: box-shadow .5s ease;
    }

    &:hover {
      .asker-image {
        box-shadow: 0px 3px 3px #888888;

        &:hover {
          box-shadow: 0px 3px 3px #F4D03F;
        }
      }
    }

    .timestamp, .user-info {
      font-size: 0.813em;
      margin-bottom: 0px;
    }

    .timestamp {
      color: darken(#bdc3c7, 15%);
    }
  }


  .show-comment-form, .show-answer-comment-form {
    font-size: 0.875em;
  }

  .answer-form {
    .button {
      background-color: #2ECC71;

      &:hover {
        background-color: darken(#2ECC71, 20%);
      }
    }

    .preview {
      font-family: Lora;
      color: #BFBFBF;
    }
  }
}

.question-vote, .question-details {
  width: 100%;
}

// Answers


// Comments

.question-comments, .answer-comments {
  margin-left: 5px;
  margin-bottom: 10px;

  .body {
    font-size: 0.875em;
    margin-bottom: 2px;
  }

  .break {
    margin: 2px;
  }
}

.answer-item {
  .body {
    margin-bottom: 0px;
  }
}

.delete-link {
  color: #95a5a6;
  font-size: 0.875em;
  transition: color 0.5s ease 0s;

  &:hover {
    color: #c0392b;
  }
}

.edit-link {
  color: #95a5a6;
  font-size: 0.875em;
  transition: color 0.5s ease 0s;

  &:hover {
    color: #F7CA18;
  }
}

.share-link {
  color: #95a5a6;
  font-size: 0.875em;
  transition: color 0.5s ease 0s;

  &:hover {
    color: #27AE60;
  }
}

// Vote form

.vote-count h3 {
  font-size: 1.250em;
}

.upvote-button, .downvote-button {
  border-color: black transparent;
  border-style: solid;
  height: 0px;
  width: 0px;
  margin: auto auto;
  transition: all 0.5s ease 0s;
}

.vote-buttons {
  h3 {
    font-family: Lora;
    font-weight: 700;
  }
}

.upvote-button {
  border-width: 0px 15px 15px 15px;
  &:hover {
    border-color: #27ae60 transparent;
  }
}

.downvote-button {
	border-width: 15px 15px 0px 15px;
  &:hover {
    border-color: #e74c3c transparent;
    transition: all 0.5s ease 0s;
  }
}

.upvoted {
  border-color: #27ae60 transparent;
}

.downvoted {
  border-color: #e74c3c transparent;
}
