/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*/

@import "foundation_and_overrides";
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);

* {
    font-family: Lora;
}

body {
  background-color: #ecf0f1;
  background: url("main.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main {
  background: transparentize(#ecf0f1, .15);
  width: 80%;
  min-height: 400px;
  margin: 0 auto;
}

// Logins & Signups

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered-form {
  height: 100%;
}

.name {
  h1 {
    a {
      &:hover {
        color: #19B5FE;
        transition: color 0.5s ease 0s;
      }
    }
  }
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #22313F;
  &:hover {
    background-color: darken(#22313F, 20%);
    transition: all 0.5s ease 0s;
  }
}

.signin-form, .signup-form {
  background: transparentize(#ecf0f1, .15);
  width: 78%;
  margin: 0 auto;
  border-radius: 2px;
  min-height: 60%;

  h1 {
    font-family: 'Lora', serif;
    padding-top: 15px;
    color: #008CBA;
  }

  .button {
    background-color: #008CBA;

    &:hover {
      background-color: lighten(#008CBA, 15%);
    }
  }
}

// Navbar

.menu-links {
  margin-top: 25px;

  .button-group > li > button, .button-group > li .button {
    border-left: 0px;
    background-color: #6BB9F0;
    margin: 3px;

    .selected {
      background: #2c3e50;
    }
    &:hover {
      background: darken(#6BB9F0, 20%);
      transition: all 0.5s ease 0s;
    }
  }
}

.top-bar {
  background-color: #22313F;
}

.subnav {
  text-align: right;

  .button {
    padding: 8px;
  }
}

#navbar {
  margin-bottom: 15px;
}

// New Question Form Modal

#reveal-question-form {
  background-color: #ecf0f1;
  max-width: 65%;
  border: none;
  h3 {
    font-family: Lora;
  }

  .space {
    visibility: hidden;
  }

  .submit-buttons {
    .success {
      background-color: #2ECC71;
      &:hover {
        background-color: darken(#2ECC71, 20%);
        transition: all 0.5s ease 0s;
      }
    }
  }

}
// Question Index Items

.question-index-item {
  hr {
    margin: 10px auto;
    width: 80%;
  }
}

.counter-text, .index-counter {
  font-size: 12px;
  text-align: center;
  color: #bdc3c7;
  padding-top: 3px;
}

.question-attr, .answer-count {
  padding: 6px;
}

.index-counter, .answer-counter {
  margin-bottom: 5px;
}

.answer-counter {
  color: #c0392b;
}

.answer-text, .answer-counter {
  padding-top: 3px;
  font-size: 12px;
  text-align: center;
}

.question-title {
  font-size: 16px;
  padding: 5px 5px 3px 5px;
  margin-bottom: 0px;
  color: #6BB9F0;

  display: inline-block;
  position: relative;

  &:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }

  &:hover:after {
    width: 100%;
    color: darken(#6BB9F0, 20%);
    background: darken(#6BB9F0, 0);
  }
}

.has-answer {
  background: #2ECC71;
  color: white;

  &:hover {
    background: darken(#2ECC71, 15%);
    transition: background .5s ease 0s;
  }

  h6, p {
    color: white;
  }

}

.user-info {
  font-size: 13px;
}

.tag, .tag-index-item, .tag-header {
  background-color: #6BB9F0;
  color: #ecf0f1;
  font-size: 13px;
  padding: 3px;

  &:hover {
    transition: all 0.5s ease 0s;
    background-color: darken(#6BB9F0, 20%);
    color: #ecf0f1;
  }
}

.tag-header {
  font-size: 20px;
  background-color: #f1c40f;

  &:hover {
    background-color: darken(#f1c40f, 10%);
  }
}

.matched-tag {
  background-color: #f1c40f;
  &:hover {
    background-color: darken(#f1c40f, 10%);
  }
}

.tags-index {
  h1 {
    font-family: Lora;
  }

  .tag-index-item {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

// Forms
.hide {
  display: none;
}

// Question Show

.show-question {
  h4 {
    font-family: Lora;
  }

  hr {
    margin: 5px 0px;
  }

  .description {
    p {
      margin-bottom: 5px;
    }
  }

  .show-comment-form {
    font-size: 14px;
  }
}

.question-vote, .question-details {
  width: 100%;
}

// Answers


// Comments

.question-comments, .answer-comments {
  margin-left: 5px;
  margin-bottom: 10px;

  .body {
    font-size: 14px;
    margin-bottom: 2px;
  }

  .break {
    margin: 2px;
  }
}

.answer-item {
  .body {
    margin-bottom: 0px;
  }

  .delete-answer {
    color: #95a5a6;
    font-size: 14px;

    &:hover {
      transition: all 0.5s ease 0s;
      color: #c0392b;
    }
  }
}

// Vote form

.vote-count h3 {
  padding: auto auto
}

.upvote-button, .downvote-button {
  border-color: black transparent;
  border-style: solid;
  height: 0px;
  width: 0px;
  margin: auto auto;
}

.upvote-button {
  border-width: 0px 20px 20px 20px;
  &:hover {
    transition: all 0.5s ease 0s;
    border-color: #27ae60 transparent;
  }
}

.downvote-button {
	border-width: 20px 20px 0px 20px;
  &:hover {
    border-color: #e74c3c transparent;
    transition: all 0.5s ease 0s;
  }
}

.upvoted {
  border-color: #27ae60 transparent;
}

.downvoted {
  border-color: #e74c3c transparent;
}
