// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile-card, .user-page {

  .user-badges {
    padding: 5px;
    margin-bottom: 5px;
    &:hover {
      img {
        box-shadow: 0px 3px 3px #888888;
      }
    }

    img {
      transition: width 1.5s ease, box-shadow .5s ease;

      &:hover {
        box-shadow: 0px 3px 3px #F4D03F;
      }
    }

    .earned-user-badges {
      width: 90px;
      height: 90px;
    }
  }

  .user-info, .user-page-info {
    text-align: center;

    .username {
      font-family: Lora;
      color: darken(#949DA4, 25%);

      &:after {
        content: '';
        display: block;
        margin: auto;
        height: 1px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }
    }
    .user-points, .user-question-points, .user-answer-points, .user-badge-number {
      color: #949DA4;

      // .positive-number {
      //   color: #2ECC71;
      // }
      //
      // .negative-number {
      //   color: #C0392B;
      // }
    }

    .profile-image {
      transition: width .5s ease, box-shadow .5s ease;
    }
  }

  .user-info:hover, .user-page-info:hover {

    .profile-image {
      box-shadow: 0px 5px 5px #888888;

      &:hover {
        box-shadow: 0px 3px 3px #F4D03F;
      }
    }

    .username {
      &:after {
        width: 50%;
        background: lighten(#949DA4, 5%);
      }
    }
  }

  .user-info:hover {
    cursor: pointer;
  }

  .profile-image {
    border-radius: 50%;
  }
}

.user-page-info {
  .user-question-points, .user-answer-points, .user-badge-number {
    font-size: 18px;
  }
}
