// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile-card, .user-page {

  .earned-user-badges, .user-badges {
    padding: 5px;

    .earned-badge {
      width: 90px;
      height: 90px;
      transition: box-shadow .5s ease;
    }

    .earned-badge-item {
      width: 45px;
      height: 45px;
      transition: box-shadow .5s ease;
    }

    margin-bottom: 5px;
    &:hover {
      .earned-badge, .earned-badge-item {
        box-shadow: 0px 3px 3px #888888;
        &:hover {
          box-shadow: 0px 3px 3px #F4D03F;
        }
      }
    }
  }

  .user-info, .user-page-info {
    text-align: center;

    .username {
      font-family: Lora;
      color: darken(#949DA4, 25%);

      &:after {
        content: '';
        display: block;
        margin: auto;
        height: 1px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }
    }
    .user-points, .user-question-points, .user-answer-points, .user-badge-number {
      color: #949DA4;

      // .positive-number {
      //   color: #2ECC71;
      // }
      //
      // .negative-number {
      //   color: #C0392B;
      // }
    }
  }

  .user-info:hover, .user-page-info:hover {

    .profile-image, .profile-image-show {
      box-shadow: 0px 5px 5px #888888;

      &:hover {
        box-shadow: 0px 3px 3px #F4D03F;
      }
    }

    .username {
      &:after {
        width: 50%;
        background: lighten(#949DA4, 5%);
      }
    }
  }

  .user-info:hover {
    cursor: pointer;
  }

  .profile-image, .profile-image-show {
    border-radius: 50%;
    transition: width .5s ease, box-shadow .5s ease;
    object-fit: cover;
  }

  .profile-image-show {
    width: 200px;
    height: 200px;
  }

  .profile-image {
    width: 100px;
    height: 100px;
  }
}

.user-page-info {
  .user-question-points, .user-answer-points, .user-badge-number {
    font-size: 1.125em;
  }
}

.zero-questions {
  h3 {
    color: #949DA4;
  }
  text-align: center;
}
