<div class="badge-item">
  <div class="row">

    <div class="badge-details small-3 columns text-center">
      <div class="row">
        <img class='badge-image' src="<%= badge.escape('image_url') %>"/>
      </div>

      <div class="row">
        <h4 class='badge-title'><%= badge.escape('title') %></h4>
      </div>
    </div>

    <div class="small-6 columns left">
      <% if (badge.id === 1) { %>
        <h4>Awarded at sign up</h4>
      <% } else { %>
        <h4>Awarded at <%= badge.escape('value') %> points</h4>
      <% } %>
      <p class='badge-description'><%= badge.escape('description') %></p>
    </div>
  </div>
</div>
<hr>
