<div class="row">
  <h1>All Tags:</h1>
  <hr>
<ul class='inline-list'>

  <% tags.each(function (tag) { %>
    <li class='left'>
      <a class='tag-index-item' href="#tags/<%= tag.escape('id') %>">
        <%= tag.escape('name') %>
      </a>
    </li>
  <% }) %>
  </ul>
</div>
